@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,400;1,900&display=swap');

body {
    padding:0 36px;
}

h1 { color: blue;
}
h2 { color:#ceaf59;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 400;
}

#para-article{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#main-title {
font-size: 3rem;
font-weight: bold;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#recipe-parag {
    color:darkslategray;
}

.my-li > a {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.my-li > a:hover {
color: #ceaf59;
}

.my-li >a:active {
    color:rgb(238, 75, 75);
}

#aside-color {
    background-color: #b9ebf7;
}

#recipe-parag {
    font-family: 'Montserrat', sans-serif;
    margin-top: 60px;
    padding: 25px;
    border: 2px solid black;
    width: fit-content;
    margin-bottom: 0px;
}

#top-header {
    display:flex;
    border-bottom: 4px solid burlywood;
    justify-content: space-between;
}

#top-ul {
    display:flex;
    column-gap: 20px;    
}

.main-aside {
    display:flex;
    border-bottom: 4px solid burlywood;
}

.main-aside > aside {
width: 25%;
}

.main-aside >main {
    width: 75%;
}

a {
    color:rgb(50, 50, 241);
    text-decoration: none;
}

li {
    list-style: none;
}

/*
*{
    outline:1px solid red;
}*/